.container {
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 10px;
    margin-right: auto;
    margin-left: auto;
}
.filter-col {
    display: flex;
    justify-content: center;
    padding-right: 0;
}
.mat-card {
    width: 100%;
    height: fit-content;
    padding: 0;
}
.filters-header {
    display: flex;
    width: 100%;
    background-color: #142a58;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}
.filters-title {
    font-size: 1.4em;
    font-weight: 500;
    color: #F2F5F7;
}
.filters-header [aria-label="Filter icon"] {
    display: none;
}
.hide {
    display: none;
}

@media screen and (max-width: 762px) {
    .filter-col {
        grid-column: span 16;
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .products-col {
        grid-column: span 16;
    }
    .filters-header [aria-label="Filter icon"] {
        display: inline;
    }
}
@media screen and (min-width: 762px) and (max-width: 970px) {
    .filter-col {
        grid-column: span 5;
    }
    .products-col {
        grid-column: span 11;
    }
}
@media screen and (min-width: 970px) {
    .filter-col {
        grid-column: span 3;
    }
    .products-col {
        grid-column: span 13;
    }
}