<div class="container">
    <div class="row">
        <div class="filter-col">
            <mat-card>
                <nav>
                    <div class="filters-header">
                        <span class="filters-title">{{ componentWords.filtersLabel }}</span>
                        <!-- Filter button for right-side of filter header -->
                        <button mat-icon-button color="primary" (click)="toggleNavbar()" aria-label="Filter icon">
                            <mat-icon svgIcon="filter_menu"></mat-icon>
                        </button>
                    </div>
                    <hero-loader *ngIf="!hideFilter" moduleName="src/app/main/products/product-filter/product-filter.module#ProductFilterModule"></hero-loader>
                </nav>
            </mat-card>
        </div>
        <app-product-list class="products-col" [products]="products"></app-product-list>
    </div>
</div>