/* GREY NAVBAR */
.header1-color {
    background-color: #54595E;
    max-height: 42px;
    color: darkgray;
}

.w-60 {
    width: 70%;
}

.not-empty-select.mat-selected {
    color: green !important;
}
  
:host /deep/ .mat-select-value-text {
    font-weight: 600;
    font-size: 1.05em;
    margin-left: 5%;
}

/* BLUE NAVBAR */
#navbar-blue {
    background-color: #0F2043;
}

.logo-image {
    width: 160px; 
    height: 80px;
    margin: 0 !important;
}

#shoppingCart {
    color: darkgray;
}

.search-div {
    display: inline;
}

.search-form {
    min-width: 287px;
}

#searchBtn {
    color: whitesmoke;
    font-weight: 500;
    border: black;
    background-color: #54595E; /*#339933;*/
    border: 1px solid darkgray;
}

.blog {
    font-size: large;
    color: white !important;
}

/* LIGHT BLUE NAVBAR */
h2 {
    font-size: 1.15em;
    margin-bottom: 0;
}
#navbar-light-blue {
    background-color:  #79cedc;
    padding-left: 8%;
}

#navbar-light-blue a {
    color: black !important;
    font-weight: 600;
}