<!-- Green header for currency, country, blog and contact-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark header1-color">
        <div class="collapse navbar-collapse" id="navbar-grey">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">Currency</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Country</a>
                </li>
            </ul>
        </div>

    </nav>
</header>
<!-- End 1rst header -->

<!-- Blue header for logo, search bar, cart and login/account -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar-blue">
        <!-- Logo -->
        <a class="navbar-brand" routerLink="/home">
            <img class="mb-2 logo-image" src="assets/images/logo-04.jpg">
        </a>
        <!-- Burguer button for right-side of header -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-blue-drop"
            aria-controls="navbar-blue-drop" aria-expanded="false" aria-label="Toggle navigation" id="burger-icon">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Search bar with button-->
        <div class="search-div w-100 mx-auto">
            <form class="form-inline my-2 mx-auto w-75 search-form" (ngSubmit)="onSubmit()" #searchForm="ngForm" >
                <div class="w-50 ml-4">
                    <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search" ngModel name="search">
                </div>
                <button class="btn btn-secondary ml-4 mr-0" type="submit" id="searchBtn">Search</button>
            </form>
        </div>
        <!-- Search bar with button end-->
        <div class="collapse navbar-collapse p-0 mt-1" id="navbar-blue-drop">
            <ul class="navbar-nav ml-auto mb-2">
                <!-- Blog and Contact -->
                <li class="nav-item lower">
                    <a class="nav-link text-info font-weight-bold blog" routerLink="blog">Blog</a>
                </li>
                <li class="nav-item lower">
                    <a class="nav-link text-info font-weight-bold blog" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- Right part of 2nd header -->
<!--         <div class="collapse navbar-collapse" id="navbar-blue-drop">
            <ul class="navbar-nav ml-auto"> -->
                <!-- Car basket-->
<!--                 <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/home">
                        <fa-icon [icon]="faShoppingCart" id="shoppingCart"></fa-icon>
                        Cart
                    </a>
                </li> -->
                <!-- Authentication Links -->
             <!--    <li class="nav-item lower">
                    <a class="nav-link text-light" href="#" id="linkkk">Login</a>
                </li>
                <li class="nav-item lower">
                    <a class="nav-link text-light" href="#">Register</a>
                </li>
                <li class="nav-item dropdown lower">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle text-light" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                        Name <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <a class="dropdown-item" href="#">
                            'Logout'
                        </a>
                        <form id="logout-form" action="#" method="POST" style="display: none;">
                        </form>
                    </div>
                </li>
            </ul>
        </div> -->
    </nav>
</header>
<!-- End 2nd header-->

<!-- Light blue header for products and its categories-->
<header class="mb-4">
    <nav class="navbar navbar-expand-lg" id="navbar-light-blue">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mr-4">
                    <a class="nav-link" routerLink="/products/">Products</a>
                </li>
                <li class="nav-item mr-4" *ngFor="let category of productTypes;">
                    <a class="nav-link" [routerLink]="['/products', category.toLowerCase()]">{{ category }}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- End 3rd header-->