<!-- Green header for currency, country, blog and contact -->
<header>
    <nav id="navbar-grey">
        <form [formGroup]="globalForm">
            <ul>
                <li>
                    <mat-form-field>
                        <mat-select formControlName="languages">
                            <mat-option *ngFor="let language of languagesList, let i = index"
                                [value]="languagesCodes[i]">{{ language }}&nbsp;&nbsp;<img class="global-logo" [src]="languagesLogos[languagesCodes[i]]"></mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field>
                        <mat-select formControlName="countries">
                            <mat-option *ngFor="let country of componentWords.countriesList, let i = index"
                                [value]="countriesCodes[i]">{{ country }}&nbsp;&nbsp;<img class="global-logo" [src]="countriesLogos[countriesCodes[i]]"></mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
            </ul>
        </form>
    </nav>
</header>
<!-- Blue header for logo, search bar, home and blog menus -->
<header>
    <nav id="navbar-blue">
        <!-- Logo -->
        <div class="logo-container">
            <a (click)="navigateTo('home')">
                <picture>
                    <source srcset="https://assets.mattressfinder.shop/v2/assets/images/MF-logo-2.webp"
                        type="image/webp">
                    <source srcset="https://assets.mattressfinder.shop/v2/assets/images/MF-logo-2.png" type="image/png">
                    <img class="logo-image" src="https://assets.mattressfinder.shop/v2/assets/images/MF-logo-2.png"
                        alt="Mattress Finder">
                </picture>
            </a>
        </div>
        <!-- Burguer button for right-side of header -->
        <button mat-icon-button color="primary" (click)="toggleNavbar()" aria-label="Toggler icon">
            <mat-icon svgIcon="menu"></mat-icon>
        </button>
        <!-- Search bar -->
        <div id="search">
            <form [formGroup]="searchForm">
                <div class="search-bar">
                    <div class="lens-div">
                        <mat-icon svgIcon="search"></mat-icon>
                    </div>
                    <input type="text" placeholder="Search" aria-label="Search" formControlName="search">
                </div>
            </form>
        </div>
        <!-- Main menu: Main and Blog links -->
        <div id="main-menu" [ngClass]="{'hide': hideNavbar}">
            <ul>
                <li>
                    <a (click)="navigateTo('home')">
                        <picture>
                            <source srcset="assets/icons/home-icon-medium.webp" type="image/webp">
                            <source srcset="assets/icons/home-icon-medium.png" type="image/png">
                            <img class="icon" src="assets/externals/icons/home-icon-medium.png"
                                alt="Mattress Finder Home">
                        </picture>
                        <div class="menu-item-text">{{ componentWords.contact }}</div>
                    </a>
                </li>
                <li>
                    <a (click)="navigateTo('blog')">
                        <picture>
                            <source srcset="assets/icons/blog.webp" type="image/webp">
                            <source srcset="assets/icons/blog.png" type="image/png">
                            <img class="icon" src="assets/externals/icons/blog.png" alt="Mattress Finder Blog">
                        </picture>
                        <div class="menu-item-text">{{ componentWords.blog }}</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Light blue header for products and its categories -->
<header>
    <nav id="navbar-light-blue">
        <ul>
            <li *ngFor="let category of productTypes; let i = index">
                <a (click)="changeProductType(category)">
                    <h2>{{ componentWords.categories[i] }}</h2>
                </a>
            </li>
        </ul>
    </nav>
</header>