a {
    text-decoration: none !important;
}

/* GREY NAVBAR */
#navbar-grey {
    background-color: #d6d8d7;
    max-height: 42px;
    color: darkgray;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 35px;
}

.form-field {
    width: 80%;
}

.grey-item {
    text-align: center;
}
  
:host::ng-deep .mat-select-value-text {
    font-weight: 600;
    font-size: 1.05em;
    margin-left: 5%;
} 

/* BLUE NAVBAR */
#navbar-blue {
    background-color: #0F2043;
    padding: 0;
}

.logo-container {
    text-align: center;
    margin: 0 5%;
}

.logo-image {
    width: 160px; 
    display: block;
    margin: auto;
}

.search-div {
    display: inline;
    margin: 0 auto;
    width: 100%;
}

.search-form {
    min-width: 287px;
    width: 100%;
    margin: 2% auto;
    text-align: center;
}

.search-input {
    width: 80%;
    display: inline-block 
}

.collapse-container {
    min-width: 190px;
    margin: 0 3.5%;
}

.menu-nav {
    width: 100%;
    justify-content: space-between;
}

.menu-item{
    display: block;
    min-width: 85px;
}

.menu-item-text {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 1.5em;
    margin-left: 3%;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

/* LIGHT BLUE NAVBAR */
#navbar-light-blue {
    background-color: #79cedc;
    padding: 0;
    margin-bottom: 1%;
}

#navbar-light-blue a {
    cursor: pointer;
}

#navbar-light-blue h2 {
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: 0;
}

.products-list {
    margin: 0 auto;
    width: 600px;
    justify-content: space-between;
}

/* RESPONSIVE */
@media screen and (max-width: 350px) {
    .grey-item {
        max-width: 130px;
    }
}
@media screen and (min-width: 350px) and (max-width: 420px) {
    .grey-item {
        max-width: 150px;
    }
}
@media screen and (max-width: 761px) {
    #greyNavForm {
        margin: 0 auto;
    }
    #navbar-blue {
        margin-bottom: 2%;
    }
    #navbar-light-blue {
        display: none;
    }
    .search-input {
        width: 85%;
    }
    .navbar-toggler {
        margin-right: 8%;
    }
    .menu-item-text {
        margin-left: 2%;
    }
}