/* Header colors*/
.marine-color {
    background-color: #0F2043;
}
.green-color {
    background-color:  #79cedc;
}
.header1-color {
    background-color: #00994d;
}

/* Items, logo, etc */
.lower {
    padding-top: 10.2%;
}
.nav-link {
    color: black !important;
}
.logo-image {
    width: 120px; 
    height: 40px;
}

/* search bar and button */
.search-div {
    display: inline;
}
.search-form {
    min-width: 287px;
}
#searchBtn {
    color: black;
    font-weight:  500;
    border: black;
    background-color:  #339933;
    /* margin-left: auto;
    margin-right: auto; */
}







@media screen and (min-device-width: 620px) and (max-device-width: 800px) {
    /* #index {
        display: flex;
        -ms-flex-wrap: initial;
        flex-wrap: initial;
        margin-right: initial;
        margin-left: initial;
    } */
}
@media screen and (max-device-width: 800px) {
    /* #buscador {
        display: none;
    }
    #buscador2 {
        display: block;
    } */
}
@media screen and (min-device-width: 800px) {
    /* #buscador2 {
        display: none;
    } */
}

@media screen and (max-width: 480px) {
    /* #searchBtn {

    } */
}