/* GREY NAVBAR */
#navbar-grey {
    background-color: #54595E;
    max-height: 42px;
    color: darkgray;
}

.w-60 {
    width: 70%;
}

.grey-item {
    text-align: center;
}
  
:host::ng-deep .mat-select-value-text {
    font-weight: 600;
    font-size: 1.05em;
    margin-left: 5%;
} 

/* BLUE NAVBAR */
#navbar-blue {
    background-color: #0F2043;
    padding: 0;
}

#navbar-blue-drop {
    margin-right: 4%;
}

#searchBtn {
    color: whitesmoke;
    font-weight: 500;
    border: black;
    background-color: #54595E;
    border: 1px solid darkgray;
}

.logo-image {
    width: 160px; 
    height: 80px;
    display: block;
    margin: auto;
}

.search-div {
    display: inline;
    margin: 0 auto;
    width: 90%;
}

.navbar-brand {
    width: 20%;
    cursor: pointer;
}

.search-form {
    min-width: 287px;
    width: 100%;
    margin: 2% auto;
    text-align: center;
}

.search-input {
    width: 65%;
    display: inline-block 
}

.blog {
    font-size: 1.5em;
    color: white !important;
    cursor: pointer;
}

/* LIGHT BLUE NAVBAR */
h2 {
    font-size: 1.15em;
    margin-bottom: 0;
}

#navbar-light-blue {
    background-color: #79cedc;
    padding: 0.2% 0;
}

#navbar-light-blue a {
    color: black !important;
    font-weight: 600;
    cursor: pointer;
}

/* RESPONSIVE */
@media screen and (max-width: 420px) {
    .grey-item {
        max-width: 130px;
    }
}

@media screen and (min-width: 420px){
    .grey-item {
        max-width: 250px;
    }
}

@media screen and (max-width: 761px) {
    .btn {
        display: none;
    }
    #navbar-light-blue {
        display: none;
    }
    .search-input {
        width: 85%;
    }
    #greyNavForm {
        margin: 0 auto;
    }
}