.footer {
    background-color: #0F2043;
}

.hr-footer {
    border: 1px solid #6351ce;  /* #79cedc*/
    width: 7em;
}

.social-footer {
    background-color: #6351ce;
}

[class^="icon-"] {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 0.7em;
}

.icon-med {
    width: 3em;
    height: 2em;
}

.icon-small {
    width: 1em;
    height: 1em;
}

a, p, address {
    color: #cccccc;
}

a {
    font-size: 0.9em;
}

.krowded {
    font-weight: 700;
    font-size: 1.05em;
    color: #007bff;
    cursor: pointer;
}