.footer {
    background-color: #0F2043;
    font-size: small;
    color: white;
    margin-top: 1%;
    padding-top: 1%;
}

.hr {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.hr:after {
    content: '';
    display: block;
    border: 1px solid #6351ce; 
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.hr-footer-design {
    border: 1px solid #6351ce; 
    width: 20em;
    margin-top: 10%;
}

.social-footer {
    background-color: #6351ce;
}

[class^="icon-"] {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 0.7em;
}

.icon-med {
    width: 3em;
    height: 2em;
}

.icon-small {
    width: 1em;
    height: 1em;
}

a, p, address {
    color: #cccccc;
}

a {
    font-size: 0.9em;
}

h6 {
    margin-bottom: 0;
}

.krowded {
    font-weight: 700;
    font-size: 1.05em;
    color: #007bff;
    cursor: pointer;
}

@media screen and (max-width: 762px) {
    .hr-footer-design {
        margin: 0 auto;
        margin-top: 3%;
    }
    .container {
        text-align: center;
    }
}