a, p, address {
    color: #cccccc;
    margin-top: 0;
    font-size: 0.9em;
    line-height: 24px;
    background-color: transparent;
    letter-spacing: 0;
    opacity: 0.97;
}
a {
    text-decoration: none;
}
address {
    margin-block-end: 1em;
}
h6 {
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85em;
}
h6:after {
    content: '';
    display: block;
    border: 1px solid #6351ce; 
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
.footer {
    background-color: #0F2043;
    color: white;
    margin-top: 5%;
    padding-top: 6%;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.row {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 10px;
    margin-right: auto;
    margin-left: auto;
}
[class*="-col"] {
    grid-column: span 12;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}
.hr-footer-design:before {
    content: '';
    display: block;
    border: 1px solid #6351ce; 
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
.krowded {
    font-weight: 700;
    color: #007bff;
    font-size: 1.1em;
}
.icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 0.7em;
    width: 1em;
    height: 1em;
}
@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media screen and (min-width: 762px) {
    .container {
        max-width: 720px;
        text-align: left;
    }
    .footer {
        padding: 2% 0;
        margin-top: 1.5%;
    }
    .hr-footer-design:before {
        margin-right: 0;
        margin-left: 0;
    }
    .left-col {
        grid-column: span 4;
    }
    .center-col {
        grid-column: span 2;
    }
    .right-col {
        grid-column: span 3;
    }
}
@media screen and (min-width: 970) {
    .container {
        max-width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}