<footer class="page-footer font-small footer text-white mt-4 pt-2">
    <div class="container text-center text-md-left">
        <div class="row mt-3">
            <div class="col-12 col-md-4 mx-auto mb-4">
                <h6 class="hr">
                    {{ componentWords.companyName }}
                </h6>
                <p>
                    {{ componentWords.companyDescription }}
                </p>
                <hr class="hr-footer-design">
                <p>
                    {{ componentWords.desginBy }}
                    <a href="https://krowded.agency/" target="_blank" class="krowded">Krowded</a>
                </p>
            </div>
            <div class="col-12 col-md-2 mx-auto mb-4">
                <h6 class="hr">
                    {{ componentWords.productsLabel }}
                </h6>
                <p *ngFor="let category of translationWords.header.categories.slice(1); let i = index;">
                    <a [routerLink]="[language, 'products', productTypes[i+1]]">
                        {{ category }}
                    </a>
                </p>
            </div>
            <div class="col-12 col-md-2 mx-auto mb-4">
                <h6 class="hr">
                    {{ componentWords.usefulLinks[0] }}
                </h6>
                <p *ngFor="let usefulLink of componentWords.usefulLinks.slice(1)">
                    <a [routerLink]="[language, 'blog']">{{ usefulLink }}</a>
                </p>
            </div>
            <div class="col-12 col-md-3 mx-auto mb-md-0 mb-4">
                <h6 class="hr">
                    {{ componentWords.info[0] }}
                </h6>
                <address>
                    <svg class="icon-home icon-small">
                        <use xlink:href="#icon-home"></use>
                    </svg> {{ componentWords.info[1] }}
                </address>
                <p>
                    <svg class="icon-envelop icon-small">
                        <use xlink:href="#icon-envelop"></use>
                    </svg>
                    <a href="mailto:mattressking.store@gmail.com" target="_blank">mattressking.store@gmail.com</a>
                </p>
                <p>
                    <svg class="icon-phone icon-small">
                        <use xlink:href="#icon-phone"></use>
                    </svg> + 34 627 608 234
                </p>
                <p>
                    <svg class="icon-phone icon-small">
                        <use xlink:href="#icon-phone"></use>
                    </svg> + 34 627 608 234
                </p>
            </div>
        </div>
    </div>
    <div class="social-footer">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">
                        {{ componentWords.socialMessage }}
                    </h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <svg class="icon-facebook icon-med">
                        <use xlink:href="#icon-facebook"></use>
                    </svg>
                    <svg class="icon-instagram icon-med">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                    <svg class="icon-twitter icon-med">
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                    <svg class="icon-linkedin icon-med">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                    <svg class="icon-whatsapp icon-med">
                        <use xlink:href="#icon-whatsapp"></use>
                    </svg>
                    <svg class="icon-mail icon-med">
                        <use xlink:href="#icon-mail"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</footer>