form {
    padding: 3%;
}
.form-group {
    margin-top: 4%;
    padding-top: 2%;
    border-top: 1px solid rgba(0,0,0,.1);
}
.payments-group, .price-group {
    margin-top: 0;
    padding-top: 2%;
    border-top: 1px solid rgba(0,0,0,.1);
}
.title {
    display: inline-block;
    font-size: 1.05em;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 3%;
    color: black;
}
.mat-form-field {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
:host::ng-deep .mat-form-field-infix {
    border-top-style: none;
}
.mat-option {
    height: 2.5em !important;
    font-size: 1em !important;
}
.price-title {
    margin-bottom: 20px;
}
.nouislider {
    width: 80%;
    margin: 0;
    margin-left: 10%;
    margin-top: 2%
}
.mdc-slider {
    width: 300px;
}
:host::ng-deep .noUi-connect {
    background: #142a58;
}
:host::ng-deep .noUi-tooltip {
    width: 42px;
    height: 22px;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}
:host::ng-deep .noUi-handle {
  border-radius: 10px !important;
  border: 2px solid #21528d !important;
  width: 20px !important;
  height: 20px !important;
  top: 0 !important;
  right: -10px !important;
  outline: none;
}
:host::ng-deep .noUi-handle:before {
  width: 8px !important;
  height: 8px !important;
  border-radius: 10px !important;
  top: 4px !important;
  left: 4px !important;
  background: #c3c3c3;
}
:host::ng-deep .noUi-handle:after{
  display: none
}
.review-filter {
    text-align: center
}
.review-filter a {
    cursor: pointer;
}
.icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
 }
.icon-star-full {
    color: #142a58;
}
.sizes-options {
    padding-left: 10%;
    font-size: 0.9em;
}
:host::ng-deep .mat-checkbox-inner-container {
    margin-right: 2%;
}
:host::ng-deep .mat-checkbox {
    margin-right: 3.5%;
}
.mat-slider {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.payment-group {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    font-size: 0.9em;
}
:host::ng-deep .payment-group span {
    margin-left: 3px;
}
:host::ng-deep .mat-radio-label {
    margin-top: 2%;
}
:host::ng-deep .mat-radio-label-content {
    display: flex;
    align-items: center;
    height: 20px;
    line-height: 20px;
    padding-bottom: 3px;
}
@media screen and (max-width: 762px) {
    .title {
        font-size: 1.1em;
    }
    :host::ng-deep .mat-form-field-infix {
        min-width: 220px;
    }
    .payment-group {
        display: flex;
        flex-direction: row;
        padding-left: 12%;
        padding-right: 12%;
        justify-content: space-between;
    }
    :host::ng-deep .mat-radio-label-content {
        padding-left: 2%;
    }
}