.sub-title {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    color: black;
    font-size: 2em;
    font-family: 'font';
}

h2 {
    font-size: 14pt;
    color: #990000; 
}

p, li {
    font-size: 12pt;
}