<div class="card mx-auto" style="max-height: 330px; overflow: hidden;">
    <a href="{{ product.amazonLink }}" target="_blank">
        <img class="card-img-top" height="200px" src="assets/products/{{ product.imagePath }}.jpg"
            alt="Imagen del producto">
    </a>
    <div class="card-body">
        <p class="card-text">
            <div class="d-flex justify-content-between">
                <div>
                    <a href="{{ product.amazonLink }}"
                        target="_blank"><strong>{{ product.name | shorten:45}}</strong></a>
                </div>
                <div>
                    <strong>{{ product.price }} €</strong>
                </div>
            </div>
    </div>
</div>