a {
    text-decoration: none;
}

.product-img {
    height: 200px;
}

.demo-card-square {
    max-height: 370px; 
    overflow: hidden;
}

.upper {
    position: relative !important;
    top: 0 !important;
    transition: top ease 0.5s !important;
}
  
.upper:hover {
    top: -10px !important;
}

@media screen and (max-width: 330px) {
    [class*="demo-card-square"] {
        width: 290px !important; 
    }
}

@media screen and (min-width: 330px) and (max-width: 420px) {
    [class*="demo-card-square"] {
        width: 310px !important; 
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    [class*="demo-card-square"] {
        width: 280px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 870px) {
    [class*="demo-card-square"] {
        width: 240px !important;
    }
}

@media screen and (min-width: 870px) and (max-width: 970px) {
    [class*="demo-card-square"] {
        width: 270px !important;
    }
}

@media screen and (min-width: 970px) and (max-width: 1050px) {
    [class*="demo-card-square"] {
        width: 300px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
    [class*="demo-card-square"] {
        width: 240px !important;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    [class*="demo-card-square"] {
        width: 260px !important;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1640px) {
    [class*="demo-card-square"] {
        width: 280px !important;
    }
}

@media screen and (min-width: 1824px) {
    [class*="demo-card-square"] {
        width: 360px !important;
    }
}

/* [class*="demo-card-square"] {

} */