<a href="{{ product.amazonLink }}" target="_blank" id="product-item">
<div class="demo-card-square mdl-card mdl-shadow--2dp mb-4 mx-auto upper">
    <div class="mdl-card__title mdl-card--expand p-0">
            <img class="card-img-top product-img" src="assets/products/{{ product.imagePath }}.jpg" alt="Imagen del producto">
    </div>
    <div class="mdl-card__supporting-text mx-auto px-0 py-3">
        <h2>
             <strong class="mx-auto">{{ product.name | shorten:40 }}</strong>
        </h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
    <!--     <p class="card-text">
            <span><strong>{{ discountPrice }} €</strong></span>
            <span class="ml-auto"><strong>{{ product.discount }}% off</strong></span>

        </p> -->

        <div class="row justify-content-between">
            <div class="col-5">
                <span><strong>{{ discountPrice }} €</strong></span>
            </div>
            <div class="col-5">
                <span class="discount-span">{{ product.discount }}% off</span>
            </div>
          </div>
    </div>
</div>
</a>
