.product-list-container {
    margin-bottom: 10px;
}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin-right: auto;
    margin-left: auto;
}
.product-item-col {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}
.pagination-container {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 762px) {
    .product-item-col {
        grid-column: span 12;
    }
}
@media screen and (min-width: 762px) and (max-width: 970px) {
    .product-item-col {
        grid-column: span 6;
    }
}
@media screen and (min-width: 970px) and (max-width: 1200px) {
    .product-item-col {
        grid-column: span 4;
    }
}
@media screen and (min-width: 1200px) {
    .product-item-col {
        grid-column: span 3;
    }
}