<a [routerLink]="['/', language, 'product', product.country, product.id]" id="product-item">
    <mat-card>
        <picture>
            <source [srcset]="productImage + '.webp'" type="image/webp">
            <source [srcset]="productImage + '.jpg'" type="image/jpeg">
            <img class="product-img" loading="lazy" [src]="productImage + '.jpg'"
                [alt]="product.name | shorten:100:true">
        </picture>
        <div class="title-div">
            <h2>
                {{ product.name | shorten:60:false }}
            </h2>
        </div>
        <div class="price-row">
            <div>
                <span><strong>{{ product.discountPrice }} {{ product.currency }}</strong></span>
            </div>
            <div>
                <span class="discount-span">{{ discountDisplay }}</span>
            </div>
        </div>
    </mat-card>
</a>