<a href="{{ product.amazonLink }}" target="_blank" id="product-item">
    <mat-card>
        <picture>
            <source [srcset]="productImage + '.webp'" type="image/webp">
            <source [srcset]="productImage + '.jpg'" type="image/jpeg">
            <img [src]="productImage + '.jpg'" class="product-img" [alt]="product.name | shorten:60:true">
        </picture>
        <h2>
            {{ product.name | shorten:60:false }}
        </h2>
        <div class="price-row">
            <div>
                <span><strong>{{ discountPrice }} {{ currency }}</strong></span>
            </div>
            <div>
                <span class="discount-span">{{ discountDisplay }}</span>
            </div>
        </div>
    </mat-card>
</a>