a {
    text-decoration: none;
}

a:hover {
    color: #0F2043;
}

h2 {
    font-size: 1.2em;
    color: black;
    margin-bottom: 0;
}

.product-img {
    height: 200px;
}

.demo-card-square {
    max-height: 370px; 
    overflow: hidden;
}

.upper {
    position: relative !important;
    top: 0 !important;
    transition: top ease 0.5s !important;
}
  
.upper:hover {
    top: -10px !important;
}

.discount-span {
    float: right;
    font-weight: 550;
}

@media screen and (max-width: 330px) {
    [class*="demo-card-square"] {
        width: 235px !important; 
    }
}

@media screen and (min-width: 330px) and (max-width: 576px) {
    [class*="demo-card-square"] {
        width: 300px !important; 
    }
}

 @media screen and (min-width: 576px) and (max-width: 640px) {
    [class*="demo-card-square"] {
        width: 235px !important;
    }
}

@media screen and (min-width: 640px) and (max-width: 762px) {
    [class*="demo-card-square"] {
        width: 300px !important; 
    }
} 

@media screen and (min-width: 762px) and (max-width: 1530px) {
    [class*="demo-card-square"] {
        width: 235px !important;
    }
}

@media screen and (min-width: 1530px) and (max-width: 1824px) {
    [class*="demo-card-square"] {
        width: 300px !important;
    }
}

@media screen and (min-width: 1824px) {
    [class*="demo-card-square"] {
        width: 350px !important;
    }
}