<div class="container align-items-center">
    <div class="grid mx-auto">

        <!-- Post image, title and author section-->
        <div class="my-2">
            <!-- Title -->
            <div class="mb-4">
                <h1>{{ post.title }}</h1>
            </div>
            <hr>
            <!-- Social networks -->
            <div class="row d-flex align-items-center">
                <div class="col-6 col-lg-7 text-left mb-0">
                    <svg class="icon-twitter icon-small">
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                    <svg class="icon-linkedin icon-small">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                    <svg class="icon-mail icon-small">
                        <use xlink:href="#icon-mail"></use>
                    </svg>
                </div>
                <div class="col-6 col-lg-5 text-right mb-0">
                    <a (click)="nextArticle()" class="mb-0 link">NEXT ARTICLE</a>
                </div>
            </div>
            <hr>
            <!-- Post image -->
            <img class="d-block w-100 post-img mt-3" src="assets/images/blog-design-inspiration.jpg" alt="Third slide">
            <!-- Auhtor and article info-->
            <table class="mt-2" id="authorTable">
                <tr>
                    <td>
                        <img class="d-block author-image-sm" [src]="'assets/images/' + author.imagePath + '.jpg'"
                            alt="Author picture">
                    </td>
                    <td class="pl-4 pt-3">
                        <h4 class="name">{{ author.name }}</h4>
                        <p class="resume ">
                            <span>{{ postFormattedDate}}&nbsp;&nbsp;•</span>
                            <span class="ml-2">{{  post.duration }} min read</span>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="contain">
            <!-- Post content section-->
<!--              <ng-template appPlaceholder #test></ng-template>
             <div #content></div>
             <div #content2></div>


      <article [innerHTML]="safeContent"></article> -->
            <hr>
            <!-- Auhtor info -->
            <table class="mt-4" id="authorTable">
                <tr>
                    <td>
                        <img class="d-block author-image" [src]="'assets/images/' + author.imagePath + '.jpg'"
                            alt="Author picture">
                    </td>
                    <td class="pl-4 pt-3">
                        <h4 class="name">{{author.name}}</h4>
                        <p class="resume">{{ author.resume }}</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>