h1 {
    text-align: center;
    font-size: 32pt;
    color: #142a58;
}

hr {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.contain {
    margin-right: 14%;
    margin-left: 14%;
}

.grid {
    max-width: 1030px;
    align-content: center
}

.post-img {
    display: block;
    border-bottom: 1.5em solid gainsboro;
    border-top: 1.5em solid gainsboro;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.icon-small {
    width: 2em;
    height: 1.5em;
    margin-right: 0.7em;
}

.link, .link:hover {
    cursor: pointer;
    font-weight: 700 !important;
    font-size: 14px!important;
    color: #142a58;
    text-decoration: none;
}

.author-image-div {
    width: 80px;
    display: block;
    background: #142a58;
    border-radius: 100%;
    padding: 2px;
}

.author-image {
    display: block;
    width:100%;
    border-radius: 100%;
}

.author-image-sm-div {
    width: 60px;
    display: block;
    background: #142a58;
    border-radius: 100%;
    padding: 2px;
}
  
.author-image-sm {
    display: block;
    width: 100%;
    border-radius: 100%;
}

.resume {
    font-size: 0.87em;
    font-weight: bold;
    color: gray
}

.name {
    font-weight: bold;
}

#authorTable {
    vertical-align: top;
    text-align: left;
    display: inline-block;
}

@media (max-width:480px)  { 
    .contain {
        margin-right: 4%;
        margin-left: 4%;
        margin-top: 5%
    }
}