<div class="container align-items-center">
    <div class="grid mx-auto">

        <!-- Post image, title and author section-->
        <div class="my-2">
            <div class="mb-4">
                <h1>{{ post.title }}</h1>
            </div>
            <hr>
            <div class="row d-flex align-items-center">
                <div class="col-6 col-lg-7 text-left mb-0">
                    <svg class="icon-twitter icon-small">
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                    <svg class="icon-linkedin icon-small">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                    <svg class="icon-mail icon-small">
                        <use xlink:href="#icon-mail"></use>
                    </svg>
                </div>
                <div class="col-6 col-lg-5 text-right mb-0">
                    <a (click)="nextArticle()" class="mb-0 link">NEXT ARTICLE</a>
                </div>
            </div>
            <hr>
            <img class="d-block w-100 post-img mt-3" src="assets/images/blog-design-inspiration.jpg" alt="Third slide">
            <div class="mt-4" id="author">
                <p>{{ post.author }}</p>
            </div>
        </div>

        <!-- Post content section-->
        <div class="contain" >
            <p [innerHTML]="post.content"></p>
        </div>
    </div>
</div>


<!--
1) Author section
2) Beautify text section
3) Better fonts familys/styles
4) Blog section -> beautify cards and add articles to banner
-->