.contain {
    margin-right: 14%;
    margin-left: 14%;
    margin-top: 5%
}

.grid {
    max-width: 1030px;
    align-content: center
}

.post-img {
    border-bottom: 3em solid #F4F4F4;
    border-top: 3em solid #F4F4F4;
}

.icon-small {
    width: 2em;
    height: 1.5em;
    margin-right: 0.7em;
}

hr {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.link, .link:hover {
    cursor: pointer;
    font-weight: 700 !important;
    font-size: 14px!important;
    font-family: proxima-nova, Helvetica Neue, Arial, sans-serif !important;
    color: #1082c1;
    text-decoration: none;
}

#authorTable {
    vertical-align: top;
    text-align: left;
    display: inline-block;

}

.author-image {
    width: 80px;
}

.resume {
    font-size: 0.87em;
    font-weight: bold;
    color: gray
}

.name {
    font-weight: bold;
}


.post-info {
    color: gray;
    font-size: 0.83em;
}

@media (max-width:480px)  { 
    .contain {
        margin-right: 4%;
        margin-left: 4%;
        margin-top: 5%
    }
}