<div class="container">
    <div class="row">
        <div class="carousel-col">
            <mat-card>
                <app-carousel></app-carousel>
            </mat-card>
        </div>
        <div class="products-col">
            <div class="products-container">
                <a [href]="coverProducts[0].amazonLink" target="_blank">
                    <picture>
                        <source srcset="https://assets.mattressfinder.shop/v2/assets/images/product-es-19.webp"
                            type="image/webp">
                        <source srcset="https://assets.mattressfinder.shop/v2/assets/images/product-es-19.jpg"
                            type="image/jpeg">
                        <img src="https://assets.mattressfinder.shop/v2/assets/images/product-es-19.jpg"
                            class="first-image" loading="lazy" [alt]="coverProducts[0].name | shorten:60:true">
                    </picture>
                </a>
                <a [href]="coverProducts[1].amazonLink" target="_blank">
                    <picture>
                        <source srcset="https://assets.mattressfinder.shop/v2/assets/images/product-es-14.webp"
                            type="image/webp">
                        <source srcset="https://assets.mattressfinder.shop/v2/assets/images/product-es-14.jpg"
                            type="image/jpeg">
                        <img src="https://assets.mattressfinder.shop/v2/assets/images/product-es-14.jpg"
                            class="second-image" loading="lazy" [alt]="coverProducts[1].name | shorten:60:true">
                    </picture>
                </a>
            </div>
        </div>
    </div>
</div>
<app-products></app-products>