a {
    text-decoration: none !important;
}

.mat-card {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    padding-top: 0;
}
  
.mat-card:hover {
    top: -10px;
}

.mat-card-content {
    color: black;
}

@media screen and (max-width: 340px) {
    [class*="mat-card"] {
        width: 270px; 
    }
}
@media screen and (min-width: 340px) and (max-width: 800px) {
    [class="mat-card"] {
        width: 300px; 
    }
}
@media screen and (min-width: 800px) and (max-width: 1370px) {
    [class="mat-card"] {
        width: 340px; 
    }
}
@media screen and (min-width: 1370px) and (max-width: 1720px) {
    [class="mat-card"] {
        width: 380px; 
    }
}
@media screen and (min-width: 1720px) {
    [class="mat-card"] {
        width: 460px; 
    }  
}
