<a [routerLink]="[post.url]">
    <mat-card>
        <picture>
            <source
                [srcset]="'https://assets.mattressfinder.shop/v2/assets/posts/post-' + post.id + postImageSize + '.webp'"
                type="image/webp">
            <source
                [srcset]="'https://assets.mattressfinder.shop/v2/assets/posts/post-' + post.id + postImageSize + '.jpg'"
                type="image/jpeg">
            <img mat-card-image
                [src]="'https://assets.mattressfinder.shop/v2/assets/posts/post-' + post.id + postImageSize + '.jpg'"
                loading="lazy" [alt]="post.imageAlt">
        </picture>
        <mat-card-content [innerHtml]="post.summary">
        </mat-card-content>
    </mat-card>
</a>