
.demo-card-square.mdl-card {
    height: 395px;
    width: 380px;  
}

.demo-card-square > .mdl-card__title {
    position: relative !important;
    text-align: center !important;
    color: white !important;
}

.post-image {
    height:200px;
    width: 100%;
}

.mdl-card__title-text {
    position: absolute !important;
    left: 26px !important;
}

.mdl-card__supporting-text {
    height: 200px !important;
}

@media screen and (max-width: 800px) {
    [class*="demo-card-square"] {
        width: 300px !important; 
    }
}
@media screen and (min-width: 800px) and (max-width: 1370px) {
    [class*="demo-card-square"] {
        width: 340px !important; 
    }
}
@media screen and (min-width: 1720px) {
    [class*="demo-card-square"] {
        width: 440px; 
    }
    
}
