<div class="demo-card-square mdl-card mdl-shadow--2dp mx-auto px-0 mb-4 upper">
    <a [routerLink]="[postIndex]">
        <div class="mdl-card__title mdl-card--expand p-0">
            <img class="post-image w-100" src="assets/posts/{{ post.imagePath }}" alt="Post image">
            <div class="mdl-card__title-text">
                <h2>{{ post.title | shorten:28 }}</h2>
            </div>
        </div>
        <div class="mdl-card__supporting-text w-100">
            <p class="mt-2">{{ post.content | shorten:100 }}</p>
        </div>
    </a>
</div>