<div class="row justify-content-center d-flex">
    <div class="d-inline" style="margin-bottom: 4%">
        <!-- id="sticky" style="position: fixed"-->
        <div class="card" style="width: 200px;">
            <div class="sidebar-header card-header" style="padding-top: 8%">
                <h4 class="text-center">Categorías</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item" style="padding: 0"><a class="nav-link active" href="">categoria</a></li>
            </ul>
        </div>
    </div>
    <div>
        <app-product-list></app-product-list>
    </div>
    <div class="ml-3"></div>
</div>