<mat-card>
    <div class="row">
        <div class="image-col">
            <picture>
                <source [srcset]="productImage + '.webp'" type="image/webp">
                <source [srcset]="productImage + '.jpg'" type="image/jpeg">
                <img class="product-img" [src]="productImage + '.jpg'"
                    [alt]="product.name | shorten:100:true">
            </picture>
        </div>
        <div class="description-col">
            <h1>{{ product.name }}</h1>
            <div class="data-group">
                <span class="label"> {{ componentWords.score }}: </span>
                <span class="data"> {{ product.score }} </span>
            </div>
            <div class="data-group">
                <span class="label"> {{ componentWords.price }}: </span>
                <span class="price"> {{ product.price }} {{ product.currency }} </span>
            </div>
            <div class="data-group">
                <span class="label"> {{ componentWords.discount }}: </span>
                <span class="data"> {{ product.discount }}%</span>
            </div>
            <div class="data-group">
                <span class="label"> {{ componentWords.payments }}: </span>
                <span class="data"> {{ product.payments }} {{ componentWords.payment }}(s)</span>
            </div>
            <div class="data-group">
                <span class="label"> {{ componentWords.description }}: </span>
                <p class="description"> {{ product.description }} </p>
            </div>
            <a mat-raised-button class="amazon-button" href="{{ product.amazonLink }}" target="_blank">
                {{ componentWords.amazonButton }}
            </a>
        </div>
    </div>
</mat-card>