<div class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
        <a [routerLink]="['/', language, 'blog', posts[i].url]" target="_blank" class="slide-container">
            <picture>
                <source [srcset]="slide.src + '.webp'" type="image/webp">
                <source [srcset]="slide.src + '.jpg'" type="image/jpeg">
                <img *ngIf="i === currentSlide" class="slide" @carouselAnimation (@carouselAnimation.done)="onChangePost($event)"
                    [src]="slide.src + '.jpg'" [id]="i" [alt]="posts[i].imageAlt">
            </picture>
        </a>
    </ng-container>
    <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
    </button>
</div>