.contain {
    margin-right: 7%;
    margin-left: 7%;
}

.banner-image {
    max-height: 500px;
}

@media screen and (max-width: 870px) {
    [class*="contain"] {
        margin-right: auto;
        margin-left: auto;
    }
    [class*="container-fluid"] {
        padding: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 770px) {
    .banner {
        padding-left: 3%;
        padding-right: 3%;
    }
}