<div class="container-fluid">
    <div class="row mb-5 justify-content-center contain banner">
        <div class="col-lg-8 col-10 p-0">
            <div class="carousel slide">
                <ol class="carousel-indicators">
                    <li (click)="selectPost(0)" class="active"></li>
                    <li (click)="selectPost(1)"></li>
                    <li (click)="selectPost(2)"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" [ngClass]="{active: i == 0}"
                        *ngFor="let post of bannerPosts; let i = index">
                        <a [routerLink]="[i]">
                            <img class="d-block w-100 banner-image" [src]="'assets/posts/' + post.imagePath"
                                [alt]="'Slide' + i">
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" (click)="prev()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" (click)="next()">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="card col-lg-3 col-10 p-0">
            <div class="card-body">
                <h1>{{ currentPost.title }}</h1>
                <div class="card-text" [innerHtml]="currentPost.content | shorten:180">
                </div>
                <!-- Colored raised button -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    [routerLink]="[currentPost.id]">
                    {{ componentWords.readMore }}&nbsp;&nbsp;>
                </button>
            </div>
        </div>
    </div>
    <app-posts-list class="row contain"></app-posts-list>
</div>