<div class="container-fluid">
    <div class="row mb-5 justify-content-center contain banner">
        <div class="col-md-8 col-10 p-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" [ngClass]="{active: i == 0}" *ngFor="let post of bannerPosts; let i =index" >
                        <img class="d-block w-100 banner-image" [src]="'assets/posts/' + post.imagePath" [alt]="'Slide' + i">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="card col-md-3 col-10 p-0">
            <div class="card-body">
                <h2>{{ currentPost.title }}</h2>
                <p class="card-text" [innerHtml]="currentPost.content | shorten:150">                    
                </p>
                <!-- Colored raised button -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Read More&nbsp;&nbsp;>
                </button>
            </div>
        </div>
    </div>
    <app-posts-list class="row contain" [filter]="{}"></app-posts-list>
</div>