<div class="container">
    <div class="row">
        <div class="carousel-col">
            <mat-card class="carousel-container">
                <app-carousel></app-carousel>
            </mat-card>
        </div>
        <div class="post-col">
            <mat-card>
                <a class="post-title" [routerLink]="[currentPost.url]">
                    <h1>{{ currentPost.title }}</h1>
                </a>
                <div class="post-summary" [innerHtml]="currentPost.summary">
                </div>
                <br>
                <a mat-raised-button color="primary" [routerLink]="[currentPost.url]">
                    {{ componentWords.readMore }}&nbsp;&nbsp;&gt;
                </a>
            </mat-card>
        </div>
    </div>
</div>
<app-posts-list></app-posts-list>