a {
  text-decoration: none !important;
}
.container {
  max-width: 1035px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-bottom: 4%;
}
.row {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 0;
  margin-right: auto;
  margin-left: auto;
}
.carousel-col {
  grid-column: span 8;
}
.carousel-container {
  height: 450px;
  width: 750px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}
.post-col {
  grid-column: span 3;
}
.post-col .mat-card {
  height: 450px;
  margin-right: auto;
  margin-left: auto;
}
.post-title {
  color: #0F2043;
}
.post-title h1 {
  margin-top: 0;
}
.post-summary {
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 850px;
  }
  .carousel-container {
    width: 600px;
    height: 360px;
  }
  .post-col .mat-card {
    height: 360px;
  }
  .post-title h1 { 
    font-size: 1.7em;
  }
}
@media screen and (max-width: 970px) {
  .container {
    max-width: 720px;
  }
  .carousel-col, .post-col {
    grid-column: span 11;
  }
  .carousel-container {
    width: 508px;
    height: 304px;
  }
  .post-col .mat-card {
    width: 508px;
    height: fit-content;
  }
  .post-summary {
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 340px;
  }
  .carousel-container {
    width: 300px;
    height: 180px;
  }
  .post-col .mat-card {
    width: 300px;
  }
}
@media screen and (max-width: 350px) {
  .container {
    max-width: 300px;
  }
  .carousel-container {
    width: 280px;
    height: 168px;
  }
  .post-col .mat-card {
    width: 280px;
  }
}