@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    height: auto;
    overflow-x: hidden;
}

body { 
    background-color: #efefef !important;
    margin: 0; 
}

* {
    font-family: Lato, "Helvetica Neue", sans-serif !important;
    font-display: swap !important;
}