<div class="container-fluid">
    <div class="row contain mb-5" *ngIf="!hideBanner">
        <div class="col-11 col-md-8 banner-block">
            <div class="carousel">
                <ol class="carousel-indicators">
                    <li (click)="selectPost(0)" class="active"></li>
                    <li (click)="selectPost(1)"></li>
                    <li (click)="selectPost(2)"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let postId of [1, 2, 3]" [ngClass]="{active: postId == 1}">
                        <a [routerLink]="['..', 'blog', (postId-1)]" target="_blank">
                            <img class="w-100 banner-img" [src]="'assets/posts/post-' + (postId) + '.jpg'"
                                [alt]="'Slide number ' + postId">
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" (click)="prev()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" (click)="next()">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-3 home-products">
            <a [href]="coverProducts[0].amazonLink" target="_blank">
                <img class="first-image" src="assets/products/product_19.jpg" alt="First cover product">
            </a>
            <a [href]="coverProducts[1].amazonLink" target="_blank">
                <img class="second-image" src="assets/products/product_14.jpg" alt="Second cover product">
            </a>
        </div>
    </div>
    <app-product-display class="row mx-auto no-gutters"></app-product-display>
</div>