#productsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.categories-sidebar {
    width: 230px;
    max-height: 830px;
}

.filters-title {
    font-size: 1.5em;
    font-weight: 600;
    color: #F2F5F7;
    
}

.filters-header {
    display: flex; 
    background-color: #142a58;
    width: 100%;
    padding: 2% 5%;
    align-items: center;
    justify-content: space-between
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    float: right;
}

.hide-icon{
    display: none;
}

.col {
    padding-right: 0;
    padding-left: 0;
}

.link {
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
 }

.title {
    font-size: 1.3em;
    font-weight: bold
 }

.label {
    font-weight: 500;
    color: #414242;
}

.type {
    font-size: 1.2em;
    font-weight: 600;
    color: #35569A;
}

.typesOptions {
    font-weight: 600;
    color: #35569A;
}

.mdc-slider {
    width: 300px;
}

:host::ng-deep .noUi-connect {
    background: #6351ce !important;
}

:host::ng-deep .noUi-handle {
  border-radius: 10px;
  border: 2px solid #21528d;
  width: 20px !important;
  height: 20px !important;
  left: 0px !important;
  top: 0px !important
}

:host::ng-deep .noUi-handle:before {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  top: 4px;
  left: 4px;
  background: #c3c3c3;
}

:host::ng-deep .noUi-handle:after{
  display: none
}

:host::ng-deep .noUi-tooltip {
    width: 38px;
    height: 22px;
    font-size: 0.94em;
    font-weight: 600;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.w-90 {
    width: 80%;
}

.icon-star-full {
    color: #7e40da;
}

.payment-radio-button {
    color: #7e40da;
}

.discount {
    margin-bottom: 0;
}

hr {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
}
