.categories-sidebar {
    width: 230px;
    max-height: 650px;
}

.col {
    padding-right: 0;
    padding-left: 0;
}

.discount {
    width: 100px;
}

.link {
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
 }

 .title {
     font-size: 1.3em;
     font-weight: bold
 }

 .label {
    font-weight: 600;
    color: #35569A;
}

.type {
    font-size: 1.2em;
    font-weight: 600;
    color: #35569A;
}

.typesOptions {
    font-weight: 600;
    color: #35569A;
}

.mdc-slider {
    width: 300px;
}

.noUi-connect {
    background: #6351ce !important;
}
/* .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
    background: purple !important;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
background-color: purple !important;
} */
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  