@import "../../../../node_modules/bootstrap/scss/_functions";
@import "../../../../node_modules/bootstrap/scss/_variables";

$grid-columns: 16;

$grid-breakpoints: (
    xs: 0, 
    sm: 576px, 
    md: 762px,
    ml: 970px,  
    lg: 1200px, 
/*     xl: 1824px,
    xxl: 2200px */
);

@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

#filtersContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    padding-right: 0;
}

.categories-sidebar {
    display: flex;
    width: 100%;
    height: fit-content;
}

.filters-title {
    font-size: 1.4em;
    font-weight: 500;
    color: #F2F5F7;
}

.filters-header {
    display: flex; 
    background-color: #142a58;
    width: 100%;
    padding: 2% 5%;
    align-items: center;
    justify-content: space-between
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    float: right;
}

.hide-icon{
    display: none;
}

.link {
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
 }

 .title {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 3%;
 }

.title-slider {
    margin-bottom: 20px;
}

hr {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.type {
    font-size: 1.1em;
    font-weight: 500;
    color: #142a58;
}

.typesOptions {
    font-weight: 500;
    color: #142a58;
}

.nouislider {
    width: 80%;
    margin: 0;
    margin-left: 10%;
    margin-top: 2%
}

.mdc-slider {
    width: 300px;
}

:host::ng-deep .noUi-connect {
    background: #142a58;
}

:host::ng-deep .noUi-handle {
  border-radius: 10px;
  border: 2px solid #21528d;
  width: 20px;
  height: 20px;
  top: 0;
  right: -10px;
}

:host::ng-deep .noUi-handle:before {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  top: 4px;
  left: 4px;
  background: #c3c3c3;
}

:host::ng-deep .noUi-handle:after{
  display: none
}

:host::ng-deep .noUi-tooltip {
    width: 38px;
    height: 22px;
    font-size: 0.94em;
    font-weight: 600;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.review-filter {
    text-align: center
}

.icon-star-full {
    color: #142a58;
}

.sizes-options {
    padding-left: 10%;
}

:host::ng-deep .mat-checkbox-inner-container {
    margin-right: 2%;
}

:host::ng-deep .mat-checkbox {
    margin-right: 3.5%;
}

.discount-container {
    margin-bottom: 0;
}

.mat-slider {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.payment-group {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

@media screen and (max-width: 762px) {
    #filtersContainer {
        padding-left: 2%;
        padding-right: 2%;
    }
    .type {
        width: 80%;
        margin: 0 auto;
    }
    .payment-group {
        display: flex;
        flex-direction: row;
        padding-left: 12%;
        padding-right: 12%;
        justify-content: space-between;
    }
    :host::ng-deep .mat-radio-label-content {
        padding-left: 2%;
    }
    .title {
        font-size: 1.3em;
    }
}