@import "../../../../node_modules/bootstrap/scss/_functions";
@import "../../../../node_modules/bootstrap/scss/_variables";

$grid-columns: 16;

$grid-breakpoints: (
    xs: 0, 
    sm: 576px, 
    md: 762px,
    ml: 970px,  
    lg: 1200px, 
    xl: 1824px,
    xxl: 2200px
);

@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

#filtersContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    padding-right: 0;
}

.categories-sidebar {
    width: 100%;
    max-height: 830px;
}

.filters-title {
    font-size: 1.5em;
    font-weight: 600;
    color: #F2F5F7;
}

.filters-header {
    display: flex; 
    background-color: #142a58;
    width: 100%;
    padding: 2% 5%;
    align-items: center;
    justify-content: space-between
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    float: right;
}

.hide-icon{
    display: none;
}

.col {
    padding-right: 0;
    padding-left: 0;
}

.link {
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
 }

.title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5%
 }

.label {
    font-weight: 500;
    color: #414242;
}

.type {
    font-size: 1.2em;
    font-weight: 600;
    color: #35569A;
}

.typesOptions {
    font-weight: 600;
    color: #35569A;
}

.mdc-slider {
    width: 300px;
}

:host::ng-deep .noUi-connect {
    background: #6351ce !important;
}

:host::ng-deep .noUi-handle {
  border-radius: 10px;
  border: 2px solid #21528d;
  width: 20px !important;
  height: 20px !important;
  left: 0px !important;
  top: 0px !important
}

:host::ng-deep .noUi-handle:before {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  top: 4px;
  left: 4px;
  background: #c3c3c3;
}

:host::ng-deep .noUi-handle:after{
  display: none
}

:host::ng-deep .noUi-tooltip {
    width: 38px;
    height: 22px;
    font-size: 0.94em;
    font-weight: 600;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.nouislider {
    width: 80%;
    margin: 0;
    margin-left: 13%;
    margin-top: 2%
}

.icon-star-full {
    color: #7e40da;
}

.payment-radio-button {
    color: #7e40da;
}

.discount {
    margin-bottom: 0;
}

hr {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 761px) {
    #filtersContainer {
        padding-left: 2%;
        padding-right: 2%;
    }
}
/* 
@media screen and (min-width: 761px) and (max-width: 870px) {
    .categories-sidebar {
        width: 180px;
        max-height: 1030px;
    }
}

@media screen and (min-width: 870px) and (max-width: 970px) {
    .categories-sidebar {
        width: 250px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1050px) {
    .categories-sidebar {
        width: 10210px;
        max-height: 830px;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1200px) {
    [class*="demo-card-square"] {
        width: 300px !important;
    } 
}*/